<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/exampleLayout}">

<th:block layout:fragment="content">
  <div class="container mt-5" style="max-width: 600px;">
    <th:block th:if="${message != null}">
      <script th:inline="javascript">
        alert([[${message}]]);
      </script>
    </th:block>
    <h2 class="text-center mb-4">마이페이지</h2>

    <div class="list-group">
      <a href="/member/mypage/info" class="list-group-item list-group-item-action">
        회원정보 수정
      </a>
      <a href="/member/mypage/changePwd" class="list-group-item list-group-item-action">
        비밀번호 변경
      </a>
    </div>
  </div>
</th:block>
</html>
